.weather-display {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #333;
    overflow: hidden;
    height: 280px;
    margin-bottom: 20px;
  }

  .weather-header {
    background: linear-gradient(to right, #1e0155, #9442cf); /* Purple gradient */
  }

  #forecastCards .card {
    width: 100%; /* Each card takes up 100% of the width on small screens */
    background:#2a353a;
    color: white;
  }
  
  @media (min-width: 992px) {
    #forecastCards .card {
      width: calc(100% / 5); /* Each card takes up 1/5 of the width on large screens */
      margin-right: 2%; /* Add margin to separate cards */
    }
  
    #forecastCards .card:last-child {
      margin-right: 0; /* Remove margin for the last card in the row */
    }
  }